.content-width {
  max-width: 70ch;
  width: 80;
  margin: 40 auto;
}

@font-face {
  font-family: "Departure Mono";
  src: url('assets/DepartureMono-Regular.otf') format("woff"),
        url('departure_mono/DepartureMono-Regular.otf') format("otf"),
        url('departure_mono/DepartureMono-Regular.woff2') format("woff")
}

body{
  font-family: "Departure Mono", monospace;
  background-color: #eeeeee;
  text-align: center;
  align-content:  center;

}
